*{
    margin: 0;
}
#tablebody{
    background-image: url("../img/bgimg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Dark, slightly transparent background for the table */
    box-shadow: 0 0 20px rgba(121, 0, 0, 0.46); /* Reddish shadow for the table */
}



table th,
table td {
    padding: 10px;
    border: 1px solid #2c2c2c; /* Flame orange border for table cells */
    max-width: 300px; /* Limit the maximum width of table cells */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #d5d5d5;
}

table th {
    background-color: #960a0a; /* Very dark red */
    color: white;
}